.sections {
  height: 50%;
}
.sections p {
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.seen {
  color: #a3a3a3;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.ChatName {
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.LastSeen {
  color: rgba(163, 163, 163, 1);
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
