body {
  background-color: #e4e3ff;
}
.ChatLive {
  /* height: 100vh; */
  height: 100%;
}
.line::after{
  content: '';
  border: 0.3px solid rgb(210 , 210, 210);
  position: absolute;
  width: 80%;
  margin: 0px auto;
  left: 20px;
  right: 20px;
  bottom: 0px;
}
.line.ChatName{
  color: rgba(0, 0, 0, 0.898);
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.line.seen{
  color: #A3A3A3;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.ChatLives a {
  color: rgba(67, 109, 217, 1)!important;
  text-decoration: none;
  font-size: 25px;
}
.NavChat {
  height: 15%;
}
.ChatBar {
  border-radius: 20px;
}
.MessageBox {
  overflow: auto;
}
.MessageBox::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 40px;
}
.MessageBox::-webkit-scrollbar {
  width: 10px;
  border-radius: 40px;
}
.MessageBox::-webkit-scrollbar-thumb {
  background-color: #436dd9;
  border-radius: 40px;
  height: 10%;
}
.typing {
  bottom: 4%;
  left: auto;
  width: 93%;
}
.input-container {
  background-color: rgba(173, 198, 245, 1);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-container .message-input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color:rgb(38, 37, 37);
  width: 100%;
  resize: none; 
  overflow: hidden; 
}
.input-container .message-input::placeholder {
  color: rgba(163, 163, 163, 1);
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.input-container svg {
  margin-left: 10px;
  cursor: pointer;
}
.mic-icon {
  background-color: rgba(173, 198, 245, 1); 
  width: 40px; 
  height: 47px;
  margin-left: 10px; 
  cursor: pointer;
}

.mic-icon svg {
  color: #000000; 
  font-size: 20px; 
}