:root {
  --btncolor: #436dd9;
}
* {
  font-family: Inter, sans-serif;
}
body {
  background-color: #e4e3ff;
}
div p {
  font-size: 16px;
  font-weight: 600;
  color: #a3a3a3;
}
div a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--btncolor);
  cursor: pointer;
}

.form {
  background-color: white;
  border-radius: 13px;
  padding: 1rem;
}

label {
  color: #686868;
  font-size: 16px;
  font-weight: 600;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #686868;
}
.rows {
  height: 100vh;
}
.LoginBtn {
  color: white;
  background-color: var(--btncolor);
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 1rem;
}

.BTnIcon button {
  font-size: 1.15rem;
  font-weight: 600;
  color: #545454;
  background-color: #d9d9d9;
}
.bdr {
  border-top: solid 1px #d2d2d2;
  width: 100%;
}
.bdr.no-border {
  border-top: none;
}
.bdr:last-child {
  border-top: none;
}
.FriendsGroup {
  max-height: 400px;
  overflow-y: auto;
}

.NavSide {
  background-color: var(--btncolor);
}
.NavSideIc {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f8f8f8;
  cursor: pointer;
  transition: 0.2s;
}
.NavSideIc:hover {
  color: rgba(173, 198, 245, 1);
}

.Door {
  text-decoration: none;
  font-size: 27px;
  color: #e4a051;
}
