:root {
  --btncolor: #436dd9;
}
body {
  background-color: #e4e3ff;
}
.form {
  background-color: white;
  border-radius: 13px;
  padding: 1rem;
}
label {
  color: #686868;
  font-size: 16px;
  font-weight: 600;
}
.title {
  font-size: 24px;
  font-weight: 600;
  color: #686868;
}
.rows {
  height: 100vh;
}
.LoginBtn {
  color: white;
  background-color: var(--btncolor);
  font-size: 18px;
  font-weight: 600;
}
div a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--btncolor);
  cursor: pointer;
}
.BTnIcon button {
  font-size: 24px;
  font-weight: 600;
  color: #545454;
  background-color: #d9d9d9;
}
.bdr {
  border-top: solid 1px #d2d2d2;
  width: 100%;
}
div p {
  font-size: 16px;
  font-weight: 600;
  color: #a3a3a3;
}
.NavSide {
  background-color: var(--btncolor);
}
.NavSideIc {
  text-decoration: none;
  font-size: 27px;
  color: #f8f8f8;
}
.Door {
  text-decoration: none;
  font-size: 27px;
  color: #e4a051;
}
